{% extends '_layouts/site' %}
{% block main %}
    <div class="breadcrumb">
        <div class="container">
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="{{ siteUrl}}product-list/?type={{product.type.handle}}">{{product.type.name}}</a></li>
                <li>Product Detail</li>
            </ul>
        </div>
    </div>
    <div id="pageContent" class="productPageAddToCartContent">
        <div class="productPrevNext hidden-xs hidden-sm">
            <a href="#" class="product-prev"><img src="{{siteUrl}}assets/images/product/product-01.jpg" alt="" /></a>
            <a href="#" class="product-next"><img src="{{siteUrl}}assets/images/product/product-01.jpg" alt="" /></a>
        </div>
        <div class="container  offset-0">
            <div class="row">
                <form method="post" class="ProductAddToCart_product">
                    <input type="hidden" name="action" value="commerce/cart/updateCart">
                    <input type="hidden" name="purchasableId" value="{{ product.defaultVariantId }}">
                    <select class="ProductImageUrl hidden" type="hidden" name="options[imgUrl]">
                        <option class="ProductImageValue" value="{{ product.productImage.first().getUrl }}"></option>
                    </select>
                    {{ getCsrfInput() }}
                    <div class="col-md-7 hidden-xs">
                        <div class="product-scroll-image">
                            <div class="slider-scroll-product">
                                {#{{ product.productImage | inspect }}#}
                                {% for imageLink in product.productImage %}
                                    {% if imageLink.getUrl is not null %}
                                    <div>
                                        <img src="{{ imageLink.getUrl }}" alt=""/>
                                    </div>
                                    {# show product image as form data #}
                                    {% else %}
                                    <div>
                                        <img src="{{siteUrl}}assets/images/product/product-small-empty.png" alt="" />
                                    </div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="visible-xs">
                            <div class="clearfix"></div>
                            <ul class="mobileGallery-product">
                                {% for imageLink in product.productImage %}
                                    {% if imageLink.getUrl is not null %}
                                        <li>
                                            <img src="{{ imageLink.getUrl }}" alt=""/>
                                        </li>
                                    {% else %}
                                        <li>
                                            <img src="{{siteUrl}}assets/images/product/product-small-empty.png" alt="" />
                                        </li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="product-info product-info product-info2">
                            <div class="add-info">
                                <div class="pull-left">
                                    <div class="sku">
                                        <span class="font-weight-medium color-defaulttext2">SKU:</span> {{ product.defaultSku }}
                                    </div>
                                </div>
                                <div class="pull-left">
                                    {% set inStock  = craft.customcode.checkInStock(product.getUnlimitedStock, product.getTotalStock) %}
                                    {% if inStock %}
                                        <div class="availability">
                                            <span class="font-weight-medium color-defaulttext2">Availability: </span><span class="color-base">In Stock</span>
                                        </div>
                                    {% else %}
                                        <div class="availability">
                                            <span class="font-weight-medium color-defaulttext2">Availability: </span><span class="color-red">Out stock</span>
                                        </div>
                                    {% endif %}
                                </div>
                                <div class="pull-left">
                                    {% set variantDelivery = craft.customcode.getVariantCheckboxValue('delivery', product.variants) %}
                                    {% if variantDelivery %}
                                        <div class="delivery">
                                            <span class="font-weight-medium color-defaulttext2">Delivery: </span><span class="color-base">Delivery Available</span>
                                        </div>
                                    {% else %}
                                        <div class="delivery">
                                            <span class="font-weight-medium color-defaulttext2">Delivery: </span><span class="color-red">Delivery Unavailable</span>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                            <h1 class="title">{{ product.title }}</h1>
                            <div class="price">
                                {{ product.defaultPrice | commerceCurrency(cart.currency) }}
                            </div>
                            <div class="wrapper">
                                <div class="title-options">SIZE<span class="color-required">*</span></div>
                                <ul class="tags-list">
                                    <li><a href="#">XS</a></li>
                                    <li class="active"><a href="#">S</a></li>
                                    <li><a href="#">M</a></li>
                                    <li><a href="#">L</a></li>
                                </ul>
                            </div>
                            <div class="wrapper wrapper-offset45">
                                <div class="pull-left"><label class="qty-label">QTY</label></div>
                                <div class="pull-left">
                                    <div class="style-2 input-counter">
                                        <span class="minus-btn"></span>
                                        <input type="text" name="qty" value="1" size="5"/>
                                        <span class="plus-btn"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="wrapper wrapper-offset43">
                                <button type="button" class="btn btn-product_addtocart" data-toggle="modal" data-target="#modalAddToCartProduct">
                                    <span class="icon icon-shopping_basket"></span>ADD TO CART
                                </button>
                                {#<a class="btn btn-lg btn-addtocart btn-product_addtocart"><span class="icon icon-shopping_basket"></span>Add to Cart</a>#}
                            </div>
                            <div class="wrapper wrapper-offset0">
                                <ul class="product_inside_info_link">
                                    <li class="text-right">
                                        <a href="#" class="wishlist-link">
                                            <span class="fa fa-heart-o"></span>
                                            <span class="text">ADD TO WISHLIST</span>
                                        </a>
                                    </li>
                                    <li class="text-left">
                                        <a href="#" class="compare-link">
                                            <span class="fa fa-balance-scale"></span>
                                            <span class="text">ADD TO COMPARE</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <ul class="social-icon-square">
                                <li><a class="icon-01" href="#"></a></li>
                                <li><a class="icon-02" href="#"></a></li>
                                <li><a class="icon-03" href="#"></a></li>
                                <li><a class="icon-04" href="#"></a></li>
                                <li><a class="icon-05" href="#"></a></li>
                            </ul>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="container offset-80">
            <div class="tt-product-page__tabs tt-tabs">
                <div class="tt-tabs__head">
                    <ul>
                        <li data-active="true"><span>DESCRIPTION</span></li>
                        <li><span>CUSTOM TAB</span></li>
                        <li><span>SIZING GUIDE</span></li>
                        <li><span>TAGS</span></li>
                        <li><span>REVIEWS</span></li>
                    </ul>
                    <div class="tt-tabs__border"></div>
                </div>
                <div class="tt-tabs__body">
                    <div>
                        <span class="tt-tabs__title">DESCRIPTION</span>
                        <div class="tt-tabs__content">
                            <h5 class="tab-title description">DESCRIPTION</h5>
                            <p class="text">
                                {{ product.productDescription }}
                            </p>
                            {#<ul class="list-simple-dot">#}
                                {#<li><a href="#">Lightweight soft-touch woven</a></li>#}
                                {#<li><a href="#">High-rise waist</a></li>#}
                                {#<li><a href="#">Zip fly with hook and button fastening</a></li>#}
                                {#<li><a href="#">Slip pockets</a></li>#}
                                {#<li><a href="#">Waist belt</a></li>#}
                                {#<li><a href="#">Relaxed fit</a></li>#}
                                {#<li><a href="#">Machine wash</a></li>#}
                                {#<li><a href="#">76% Polyester, 18% Viscose, 6% Elastane</a></li>#}
                                {#<li><a href="#">Our model wears a UK 8/ EU 36/ US 4 and is 174 cm/5'8.5” tall</a></li>#}
                            {#</ul>#}
                        </div>
                    </div>
                    <div>
                        <span class="tt-tabs__title">CUSTOM TAB</span>
                        <div class="tt-tabs__content">
                            <h5 class="tab-title">CUSTOM TAB</h5>
                            <h6><span class="color-base icon icon-local_shipping"></span> Shipping and Delivery</h6>
                            We're dedicated to delivering your purchase as quickly and affordably as possible. We offer a range of delivery and pickup options, so you can choose the shipping method that best meets your needs.
                            <div class="divider"></div>
                            <h6><span class="color-base icon icon-payment"></span> Payment Methods</h6>
                            Every country and shopper has their prefered method to pay online. Offering your buyers safe and convenient payment choices can help your sale go smoothly, earn you positive Feedback, and bring them back for more.
                        </div>
                    </div>
                    <div>
                        <span class="tt-tabs__title">SIZING GUIDE</span>
                        <div class="tt-tabs__content">
                            <h5 class="tab-title">CLOTHING - SINGLE SIZE CONVERSION (CONTINUED)</h5>
                            <div class="table-responsive">
                                <table class="table table-parameters">
                                    <tbody>
                                    <tr>
                                        <td>UK</td>
                                        <td>18</td>
                                        <td>20</td>
                                        <td>22</td>
                                        <td>24</td>
                                        <td>26</td>
                                    </tr>
                                    <tr>
                                        <td>European</td>
                                        <td>46</td>
                                        <td>48</td>
                                        <td>50</td>
                                        <td>52</td>
                                        <td>54</td>
                                    </tr>
                                    <tr>
                                        <td>US</td>
                                        <td>14</td>
                                        <td>16</td>
                                        <td>18</td>
                                        <td>20</td>
                                        <td>22</td>
                                    </tr>
                                    <tr>
                                        <td>Australia</td>
                                        <td>8</td>
                                        <td>10</td>
                                        <td>12</td>
                                        <td>14</td>
                                        <td>16</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div>
                        <span class="tt-tabs__title">TAGS</span>
                        <div class="tt-tabs__content">
                            <h5 class="tab-title">TAGS</h5>
                            <ul class="tags-list">
                                <li><a href="#">Vintage</a></li>
                                <li><a href="#">Style</a></li>
                                <li><a href="#">Street Style</a></li>
                            </ul>
                        </div>
                    </div>
                    <div>
                        <span class="tt-tabs__title">REVIEWS</span>
                        <div class="tt-tabs__content">
                            <h5 class="tab-title">CUSTOMER REVIEWS</h5>
                            <div class="review">
                                <div class="rating">
                                    <span class="icon-star"></span>
                                    <span class="icon-star"></span>
                                    <span class="icon-star"></span>
                                    <span class="icon-star"></span>
                                    <span class="icon-star empty-star"></span>
                                </div>
                                <span>1 Review(s)</span>
                                <a href="#">Add Your Review</a>
                            </div>
                            <div class="divider"></div>
                            <h6>Write a review</h6>
                            <div class="divider"></div>
                            <form class="form-horizontal">
                                <div class="form-group">
                                    <label for="form-name" class="col-sm-2 control-label">Name</label>
                                    <div class="col-sm-10">
                                        <input type="email" class="form-control" id="form-name" placeholder="Your name">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="form-email" class="col-sm-2 control-label">E-mail</label>
                                    <div class="col-sm-10">
                                        <input type="email" class="form-control" id="form-email" placeholder="Your e-mail">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label  class="col-sm-2 control-label">Rating</label>
                                    <div class="col-sm-10">
                                        <div class="rating">
                                            <span class="icon-star empty-star"></span>
                                            <span class="icon-star empty-star"></span>
                                            <span class="icon-star empty-star"></span>
                                            <span class="icon-star empty-star"></span>
                                            <span class="icon-star empty-star"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="form-review-title" class="col-sm-2 control-label">Review Title</label>
                                    <div class="col-sm-10">
                                        <input type="email" class="form-control" id="form-review-title" placeholder="Give your review a title">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="form-review-title" class="col-sm-2 control-label">Body of Review (1500)</label>
                                    <div class="col-sm-10">
                                        <textarea class="form-control" rows="7" placeholder="Write your comments here"></textarea>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-offset-2 col-sm-10">
                                        <button type="submit" class="btn btn-default">SUBMIT COMMENT</button>
                                    </div>
                                </div>
                            </form>
                            <div class="reviews-comments">
                                <div class="item">
                                    <div class="rating">
                                        <span class="icon-star"></span>
                                        <span class="icon-star"></span>
                                        <span class="icon-star"></span>
                                        <span class="icon-star"></span>
                                        <span class="icon-star empty-star"></span>
                                    </div>
                                    <div class="title">Admin</div>
                                    <div class="data">Prabhu on May 19, 2016</div>
                                    <p>
                                        WOW! AWESOME job on this template :-)<br>
                                        Just wanted to say that as we have worked with the YourStore template more and more over the last week we are truly impressed. This has to be one of the best designed templates we have encountered on ThemeForest. There were only the few minor bugs which the EXCELLENT support here on this board took care of immediately. The code is clean and flexible and yet easy for even more novice designers to adapt to their needs. We are thrilled to finally have a professional design that is a pleasure to work with and that will allow us to complete our business expansion on time and under budget!
                                    </p>
                                </div>
                                <div class="item">
                                    <div class="rating">
                                        <span class="icon-star"></span>
                                        <span class="icon-star"></span>
                                        <span class="icon-star"></span>
                                        <span class="icon-star"></span>
                                        <span class="icon-star empty-star"></span>
                                    </div>
                                    <div class="title">Admin</div>
                                    <div class="data">Prabhu on May 19, 2016</div>
                                    <p>
                                        WOW! AWESOME job on this template :-)<br>
                                        Just wanted to say that as we have worked with the YourStore template more and more over the last week we are truly impressed. This has to be one of the best designed templates we have encountered on ThemeForest. There were only the few minor bugs which the EXCELLENT support here on this board took care of immediately. The code is clean and flexible and yet easy for even more novice designers to adapt to their needs. We are thrilled to finally have a professional design that is a pleasure to work with and that will allow us to complete our business expansion on time and under budget!
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
