{% extends '_layouts/site' %}
{% block main %}

<div class="flash">{{ craft.session.getFlash('notice') }}</div>
<div class="flash">{{ craft.session.getFlash('error') }}</div>
{% set productPageType = craft.request.getParam('type') %}
{{ craft.customcode.setSessionVariable("productPageType", productPageType) }}
{% set productPageUrl = "#{siteUrl}products/index.html?type=#{productPageType}" %}

{# get brand Url from http request #}
{% set BrandUrlString = craft.request.getParam('brand') %}
{% set BrandUrlArray = craft.customcode.convertStringToArray(BrandUrlString, '_') %}

<div class="breadcrumb">
    <div class="container">
        <ul>
            <li><a href="{{ siteUrl }}index.html">Home</a></li>
            <li>Product</li>
        </ul>
    </div>
</div>


<!-- Content -->
<div id="pageContent">
    <div class="container offset-0">
        <div class="row">
            <!-- left col -->
            <div class="slide-column-close">
                <a href="#"><span class="icon icon-close"></span>CLOSE</a>
            </div>
            <div class="col-md-4 col-lg-3 col-xl-3 aside leftColumn">
                <div class="collapse-block open collapse-block-mobile">
                    <h3 class="collapse-block_title hidden">Filter:</h3>
                    <div class="collapse-block_content">
                        <div class="filters-mobile">

                        </div>
                    </div>
                </div>
                <div class="collapse-block open">
                    <h3 class="collapse-block_title ">SHOPPING BY:</h3>
                    <div class="collapse-block_content">
                        <ul class="filter-list">
                            {% if BrandUrlString is not null %}
                            <li>
                                <a href="{{ productPageUrl }}" class="link-close icon icon-close"></a>
                                Brand: <span class="color-base">  {{ BrandUrlString | replace({"_":"  "})}}</span>
                            </li>
                            {% endif %}
                            {# build a filter for price #}
                        </ul>
                        <a href="{{productPageUrl}}" class="btn btn-underline color-defaulttext2">CLEAR ALL</a>
                    </div>
                </div>
                <script>

                </script>
                <div class="collapse-block open">
                    <h3 class="collapse-block_title">BRAND</h3>
                    <div class="collapse-block_content">
                        <ul class="list-simple Category-Brand-list filter-list">
                             {#calling category named brand getting brand object #}
                            {% set Brands = craft.categories.group('productsCategory').title('brand').find() %}
                            {% set BrandArray = {0:{value:"All", slug:"allbrand", active:true}} %}
                            {% for Brand in Brands %}
                                {# getting descendant of "brand" category #}
                                {% nav category in craft.categories.group('productsCategory').descendantOf(Brand) %}
                                {% set BrandArray = BrandArray | merge([{ value:category.title, slug:category.slug, active:false}]) %}
                                {% endnav %}
                            {% endfor %}
                            {% for brand in BrandArray %}
                                {# if detect any existing string in BrandUrlString from BrandArray get ready to remove it, if user click the link #}
                                {% if brand.slug in BrandUrlString %}
                                    {% set Temp_BrandUrlArray = {} %}
                                    {% set stringToRemove = brand.slug %}
                                    {% for brandUrl in BrandUrlArray %}
                                        {% if stringToRemove == brandUrl %}
                                            {% set Temp_BrandUrlArray = craft.customcode.unsetVariableFromArray(stringToRemove, BrandUrlArray) %}
                                        {% endif %}
                                    {% endfor %}
                                    {% set Temp_brandUrlString =  craft.customcode.convertArrayToString(Temp_BrandUrlArray, "_") %}
                                    <li>
                                        <a href="{{ productPageUrl }}{% if Temp_brandUrlString != "" %}&brand={% endif %}{{ Temp_brandUrlString }}" class="link-close icon icon-close"></a>
                                        <span class="{{ brand.slug }} color-base">{{ brand.value }}</span>
                                    </li>
                                {% else %}
                                    <li><a class="sendBrandFilter" href="{{ productPageUrl }}&brand={{ BrandUrlString }}{% if BrandUrlString != "" %}_{% endif %}{{ brand.slug }}"><span class="{{ brand.slug }}">{{ brand.value }}</span></a></li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                </div>

                <div class="collapse-block open">
                    <h3 class="collapse-block_title ">PRICE</h3>
                    <div class="collapse-block_content">
                        <div class="price-slider">
                            <div class="priceSlider"></div>
                        </div>
                        <form>
                            {# get page sort parameters from php session, see if there is any. If not set default value #}
                            {% if craft.customcode.getSessionVariable("MaxPrice") is not null %}
                                {% set MaxPrice = craft.customcode.getSessionVariable("MaxPrice") %}
                            {% else %}
                                {% set MaxPrice = 500 %}
                            {% endif %}
                            {% if craft.customcode.getSessionVariable('MinPrice') is not null %}
                                {% set MinPrice = craft.customcode.getSessionVariable("MinPrice") %}
                            {% else %}
                                {% set MinPrice = 0 %}
                            {% endif %}
                            <div class="price-input form-group">
                                <label>From</label>
                                <input type="text" class="form-control" id="priceMin" />
                                <span class ="hidden" id="MinPrice">{{ MinPrice }}</span>
                            </div>
                            <div class="price-input form-group">
                                <label>To</label>
                                <input type="text" class="form-control" id="priceMax"/>
                                <span class ="hidden" id="MaxPrice">{{ MaxPrice }}</span>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="collapse-block open">
                    <h3 class="collapse-block_title ">CUSTOM BLOCK</h3>
                    <div class="collapse-block_content">
                        <div class="aside-custom-block">
                            <h6><a href="#"><span class="color-base icon icon-local_shipping"></span> Shipping and Delivery</a></h6>
                            <p>
                                We're dedicated to delivering your purchase as quickly and affordably as possible. We offer a range of delivery and pickup options, so you can choose the shipping method that best meets your needs.
                            </p>
                            <h6><a href="#"><span class="color-base icon icon-payment"></span> Payment Methods</a></h6>
                            <p>
                                Every country and shopper has their prefered method to pay online. Offering your buyers safe and convenient payment choices can help your sale go smoothly, earn you positive Feedback, and bring them back for more.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- center col -->
            <div class="col-md-8 col-lg-9 col-xl-9">
                <div class="content offset-0">
                    <div class="number-of-products pull-right">{% if productPageType is defined %}{{ craft.commerce.products.type(productPageType) | length }}{% else %}{{ craft.commerce.products | length }}{% endif %} Item(s) Found</div>
                    <h1 class="block-title text-left">PRODUCT LIST</h1>
                </div>
                <div class="content">
                    <hr>
                </div>
                <div class="content product-ajax">
                    {# get page sort parameters from php session, see if there is any. If not set default value #}
                    {% if craft.customcode.getSessionVariable("NumberOfProduct") is defined %}
                        {% set Number_of_product = craft.customcode.getSessionVariable("NumberOfProduct") %}
                    {% else %}
                        {% set Number_of_product = 5 %}
                    {% endif %}
                    {% if craft.customcode.getSessionVariable('brand') is defined %}
                        {% set column = craft.customcode.getSessionVariable("sortByOption") %}
                    {% else %}
                        {% set column = "title" %}
                    {% endif %}


                    <div class="filters-row row ">
                        <div class="pull-left">
                            <a class="btn slide-column-open hidden-lg hidden-md" href="#">FILTER</a>
                            <div class="filters-row_select hidden-sm hidden-xs">
                                <label>Sort by:</label>
                                <select class="form-control sort-position sendProductFilter" id="sortByOption">
                                    {% set arrayOfSortOrder = [
                                    {value:"title", Name:"Name A to Z"},
                                    {value:"title desc", Name:"Name Z to A"},
                                    {value:"defaultPrice", Name:"Price Low to High"},
                                    {value:"defaultPrice desc", Name:"Price High to Low"}]%}
                                    {% for option in arrayOfSortOrder %}
                                        {% if column == option.value %}
                                            <option value="{{ option.value }}" selected>{{ option.Name }}</option>
                                        {% else %}
                                            <option value="{{ option.value }}">{{ option.Name }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="pull-right">
                            <div class="filters-row_select  hidden-sm hidden-xs">
                                <label>Show:</label>
                                <select class="form-control show-qty sendProductFilter" id="NumberOfProduct">
                                    {% set arrayOfShowNumber = [{value:"1", Name:"1"},
                                    {value:"2", Name:"2"},
                                    {value:"3", Name:"3"},
                                    {value:"4", Name:"4"},
                                    {value:"5", Name:"5"},
                                    {value:"100", Name:"100"}]%}
                                    {% for option in arrayOfShowNumber %}
                                        {% if Number_of_product == option.value %}
                                            <option value="{{ option.value }}" selected>{{ option.Name }}</option>
                                        {% else %}
                                            <option value="{{ option.value }}">{{ option.Name }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                                <a href="#" class="icon icon-arrow-down active"></a><a href="#" class="icon icon-arrow-up"></a>
                            </div>
                        </div>
                    </div>
                    <div class="product-listing row">
                        {#{% set product_array = craft.commerce.products  %}#}
                        {% set product_array = craft.commerce.products({
                            limit:Number_of_product,
                            type:productPageType,
                            order:column,
                            defaultPrice: [
                            'and',
                            '>= ' ~ MinPrice,
                            '<= ' ~ MaxPrice,
                            ]
                        }) %}

                        {% for product in product_array %}
                            {% set ProductCategory = "" %}
                            {% nav category in product.productCategories.level(2)  %}
                            {% set ProductCategory = "#{ProductCategory}  #{category.slug}" %}
                            {% endnav %}
                            {% set displayBrand = false %}
                            {% for brand in BrandUrlArray %}
                                {% if brand in ProductCategory or brand == "allbrand" %}
                                    {% set displayBrand = true %}
                                {% endif %}
                            {% endfor %}

                            {% if displayBrand == true %}
                            {% set variantDelivery = craft.customcode.getVariantCheckboxValue('delivery', product.variants) %}
                            {% set inStock  = craft.customcode.checkInStock(product.getUnlimitedStock, product.getTotalStock) %}
                            <div class="col-xs-6 col-sm-4 col-md-4 col-lg-one-three">
                                <div class="product">
                                    <div class="product_inside">
                                        <div class="image-box">
                                            <a href="{{ siteUrl }}product-list/{{ product.slug }}">
                                                <img class="ProductImage" src="{% if(product.productImage.first()) %}{{ product.productImage.first().getUrl }} {% else %} {{siteUrl}}assets/img/ImagePlaceHolder.png {% endif %}" alt="no image">
                                            </a>
                                            <a href="#" data-toggle="modal" data-target="#ModalquickView" class="quick-view">
                                        <span>
                                        <span class="icon icon-visibility"></span>QUICK VIEW
                                        </span>
                                            </a>
                                        </div>
                                        {% for purchaseable in product.variants %}
                                        <div class="product-id hidden">{{ purchaseable.purchasableId }}</div>
                                        {% endfor %}
                                        <div class="product-sku hidden">{{ product.defaultSku }}</div>
                                        <h2 class="title">
                                            <a href="{{ siteUrl }}product-list/{{ product.slug }}">{{ product.title }} </a>
                                        </h2>
                                        <div class="price">{{ product.defaultPrice | commerceCurrency(cart.currency)}}</div>
                                        <div class="description">
                                            {{ product.productDescription }}
                                        </div>
                                        {% if variantDelivery %} <div class="delivery"><span class="color-base">Delivery Available</span></div> {% else %} <div class="delivery"><span class="color-red">Delivery Unavailable</span></div> {% endif %}
                                        {% if inStock %} <div class="availability"><span class="color-base">In Stock</span></div> {% else %} <div class="availability"><span class="color-red">Out stock</span></div> {% endif %}
                                        <div class="product_inside_hover">
                                            <div class="product_inside_info">
                                                <a href="#"  class="quick-view btn" data-toggle="modal" data-target="#ModalquickView">
                                                <span>
                                                <span class="icon icon-visibility"></span>QUICK VIEW
                                                </span>
                                                </a>
                                                <ul class="product_inside_info_link">
                                                    <li class="text-right">
                                                        <a href="#" class="wishlist-link">
                                                            <span class="fa fa-heart-o"></span>
                                                            <span class="text">Add to wishlist</span>
                                                        </a>
                                                    </li>
                                                    <li class="text-left">
                                                        <a href="#" class="compare-link">
                                                            <span class="fa fa-balance-scale"></span>
                                                            <span class="text">Add to compare</span>
                                                        </a>
                                                    </li>

                                                    <li>
                                                        <a href="#" data-toggle="modal" data-target="#ModalquickView" class="quick-view">
                                                            <span class="icon icon-visibility"></span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
                <div class="content">
                    <hr>
                </div>
                <div class="content offset-40">
                    <div class="pagination">
                        <ul>
                            <li><a href="#">1</a></li>
                            <li class="active"><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">5</a></li>
                            <li><a href="#">...</a></li>
                            <li><a href="#">12</a></li>
                        </ul>
                        <a class="btn" href="#">NEXT<span class="icon icon-chevron_right"></span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}