{% set BrandUrlString = craft.request.getParam('brand') %}{# get brand Url from http request #}
{% set BrandUrlArray = craft.customcode.convertStringToArray(BrandUrlString, '_') %} {# convert string to array #}
{% set productPageType = craft.customcode.getSessionVariable("productPageType") %} {# get the page type from session #}
{% set MaxPrice = craft.request.getParam("MaxPrice") %}{# get MaxPrice from ajax value set in javascript ajax function #}
{% set MinPrice = craft.request.getParam("MinPrice") %}{# get MinPrice from ajax value set in javascript ajax function #}
{% set Number_of_product = craft.request.getParam("NumberOfProduct") %}{# get NumberOfProduct from ajax value set in javascript ajax function #}
{% set column = craft.request.getParam("sortByOption") %}{# get sortByOption from ajax value set in javascript ajax function #}
{{ craft.customcode.setSessionVariable("NumberOfProduct", Number_of_product) }}{# set NumberOfProduct to session variable for product-list page to retrieve #}
{{ craft.customcode.setSessionVariable("sortByOption", column) }}{# set sortByOption to session variable for product-list page to retrieve #}
{{ craft.customcode.setSessionVariable("MaxPrice", MaxPrice) }}{# set MaxPrice to session variable for product-list page to retrieve #}
{{ craft.customcode.setSessionVariable("MinPrice", MinPrice) }}{# set MinPrice to session variable for product-list page to retrieve #}

{# filter product_array using variable from main page #}
{% set product_array = craft.commerce.products({
    limit:Number_of_product,
    order:column,
    type:productPageType,
    defaultPrice: [
    'and',
    '>= ' ~ MinPrice,
    '<= ' ~ MaxPrice,
    ]
}) %}

{# the following content should be same as product-list page #}
{% for product in product_array %}

    {# filter brand #}
    {% set ProductCategory = "" %}
    {% nav category in product.productCategories.level(2)  %}{# category value can only access under navigation #}
    {% set ProductCategory = "#{ProductCategory}  #{category.slug}" %}{# constructing category.slug to ProductCategory#}
    {% endnav %}
    {% set displayBrand = false %}{# set display brand deflaut to false #}
    {% for brand in BrandUrlArray %}{# looping to show brand on the ProductCategory #}
        {% if brand in ProductCategory or brand == "allbrand" %}
            {% set displayBrand = true %}
        {% endif %}
    {% endfor %}
    {# filter brand end #}

    {% if displayBrand == true %}{# displayBrand == true means the brand is on the list #}
        {% set variantDelivery = craft.customcode.getVariantCheckboxValue('delivery', product.variants) %}
        {% set inStock  = craft.customcode.checkInStock(product.getUnlimitedStock, product.getTotalStock) %}
        <div class="col-xs-6 col-sm-4 col-md-4 col-lg-one-three">
            <div class="product">
                <div class="product_inside">
                    <div class="image-box">
                        <a href="product.html">
                            <img class="ProductImage" src="{% if(product.productImage.first()) %}{{ product.productImage.first().getUrl }} {% else %} {{siteUrl}}assets/img/ImagePlaceHolder.png {% endif %}" alt="no image">
                        </a>
                        <a href="#" data-toggle="modal" data-target="#ModalquickView" class="quick-view">
                <span>
                <span class="icon icon-visibility"></span>QUICK VIEW
                </span>
                        </a>
                    </div>
                    <div class="product-sku hidden">{{ product.defaultSku }}</div>
                    <h2 class="title">
                        {#category: {{ ProductCategory }}#}
                        <a href="product.html">{{ product.title }} </a>
                    </h2>
                    <div class="price">
                        {{ product.defaultPrice | commerceCurrency(cart.currency) }}
                    </div>
                    <div class="description">
                        {{ product.productDescription }}
                    </div>
                    {% if variantDelivery %} <div class="delivery"><span class="color-base">Delivery Available</span></div> {% else %} <div class="delivery"><span class="color-red">Delivery Unavailable</span></div> {% endif %}
                    {% if inStock %} <div class="availability"><span class="color-base">In Stock</span></div> {% else %} <div class="availability"><span class="color-red">Out stock</span></div> {% endif %}
                    <div class="product_inside_hover">
                        <div class="product_inside_info">
                            <a class="btn btn-product_addtocart" href="#" data-toggle="modal" data-target="#modalAddToCartProduct">
                                <span class="icon icon-shopping_basket"></span>ADD TO CART
                            </a>
                            <a href="#"  class="quick-view btn" data-toggle="modal" data-target="#ModalquickView">
                        <span>
                        <span class="icon icon-visibility"></span>QUICK VIEW
                        </span>
                            </a>
                            <ul class="product_inside_info_link">
                                <li class="text-right">
                                    <a href="#" class="wishlist-link">
                                        <span class="fa fa-heart-o"></span>
                                        <span class="text">Add to wishlist</span>
                                    </a>
                                </li>
                                <li class="text-left">
                                    <a href="#" class="compare-link">
                                        <span class="fa fa-balance-scale"></span>
                                        <span class="text">Add to compare</span>
                                    </a>
                                </li>

                                <li>
                                    <a href="#" data-toggle="modal" data-target="#ModalquickView" class="quick-view">
                                        <span class="icon icon-visibility"></span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endfor %}