<footer>
    <div class="footer-content-02 no-padding-top">
        <div class="container">
            <div class="row">
                <div class="pull-left col-xs-12 col-sm-4 col-md-4">
                    <div class="footer-logo hidden-xs">
                        <a href="index.html"><img src="images/logo.png" alt=""></a>
                    </div>
                    <div class="payment-list hidden-xs">
                        <ul>
                            <li><a class="icon-01" href="#"></a></li>
                            <li><a class="icon-02" href="#"></a></li>
                            <li><a class="icon-03" href="#"></a></li>
                            <li><a class="icon-04" href="#"></a></li>
                            <li><a class="icon-05" href="#"></a></li>
                            <li><a class="icon-06" href="#"></a></li>
                            <li><a class="icon-07" href="#"></a></li>
                            <li><a class="icon-08" href="#"></a></li>
                        </ul>
                    </div>
                </div>
                <div class="pull-right  col-xs-12 col-sm-8 col-md-8">
                    <div class="mobile-collapse">
                        <h4 class="mobile-collapse_title visible-xs">CONTACTS</h4>
                        <div class="mobile-collapse_content">
                            <div class="list-info-center">
                                <ul>
                                    <li>Address: 7563 St. Vicent Place, Glasgow</li>
                                    <li>Phone: +777 2345 7885</li>
                                    <li>Fax: +777 2345 7886</li>
                                    <li>Hours: 7 Days a week from 10:00 am</li>
                                    <li>E-mail: <a href="mailto:info@mydomain.com">info@mydomain.com</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="social-icon-round">
                        <ul>
                            <li><a class="icon fa fa-facebook" href="http://www.facebook.com/"></a></li>
                            <li><a class="icon fa fa-twitter" href="http://www.twitter.com/"></a></li>
                            <li><a class="icon fa fa-google-plus" href="http://www.google.com/"></a></li>
                            <li><a class="icon fa fa-instagram" href="https://instagram.com/"></a></li>
                        </ul>
                    </div>
                    <div class="payment-list visible-xs">
                        <ul>
                            <li><a class="icon-01" href="#"></a></li>
                            <li><a class="icon-02" href="#"></a></li>
                            <li><a class="icon-03" href="#"></a></li>
                            <li><a class="icon-04" href="#"></a></li>
                            <li><a class="icon-05" href="#"></a></li>
                            <li><a class="icon-06" href="#"></a></li>
                            <li><a class="icon-07" href="#"></a></li>
                            <li><a class="icon-08" href="#"></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright text-center">
        <div class="container">
            <div class="row">
                <div class="box-copyright">
                    <a href="index.html">MyShop</a> &copy; 2017. <span>All Rights Reserved.</span>
                </div>
            </div>
        </div>
    </div>
    <a href="#" class="back-to-top">
        <span class="icon icon-keyboard_arrow_up"></span>
        <span class="text">BACK TO TOP</span>
    </a>
</footer>