
<!--nav bar start-->

<nav class="panel-menu">
    <ul>
        <li>
            <a href="{{ siteUrl }}index.html">HOME</a>
        </li>
        <li>
            <a href="">MICROCHIP REGISTRY SEARCH</a>
        </li>
        <li>
            <a href="{{ siteUrl}}products/index.html">PRODUCT</a>
        </li>
        <li>
            <a href="">ABOUT US</a>
        </li>
        <li>
            <a href="">CONTACT US</a>
        </li>
    </ul>
    <div class="mm-navbtn-names" style="display:none">
        <div class="mm-closebtn">CLOSE</div>
        <div class="mm-backbtn">BACK</div>
    </div>
</nav>

<!-- nav bar end -->

<!--header start-->

<header>
    <script>
        var siteUrl = "{{ siteUrl }}";
        var placeHolderImageName = "ImagePlaceHolder.png";
    </script>
    <!-- mobile-header -->
    <div class="mobile-header">
        <div class="container-fluid">
            <div class="pull-left">
                <!-- language -->
                <div class="mobile-parent-language"></div>
                <!-- /language -->
                <!-- currency -->
                <div class="mobile-parent-currency"></div>
                <!-- /currency -->
                <div class="mini-menu-dropdown dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown">
                        <span class="icon icon-more_horiz"></span>
                    </a>
                    <div class="dropdown-menu">
                        <div class="mini-menu">
                            <ul>
                                <li class="active"><a href="index.html">Home</a></li>
                                <li><a href="faqs.html">Delivery</a></li>
                                <li><a href="blog_listing.html">Blog</a></li>
                                <li><a href="contact.html">Contacts</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="pull-right">
                <!-- account -->
                <div class="account dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown"><span class="icon icon-person "></span></a>
                    <div class="dropdown-label hidden-sm hidden-xs">My Account</div>
                    <ul class="dropdown-menu">
                        <li><a href="login-form.html"><span class="icon icon-person"></span>My Account</a></li>
                        <li><a href="wishlist.html"><span class="icon icon-favorite_border"></span>My Wishlist</a></li>
                        <li><a href="compare.html"><span class="fa fa-balance-scale"></span>Compare</a></li>
                        <li><a href="checkout.html"><span class="icon icon-check"></span>Checkout</a></li>
                        <li><a href="#" data-toggle="modal" data-target="#modalLoginForm"><span class="icon icon-lock_outline"></span>Log In</a></li>
                        <li><a href="login-form.html"><span class="icon icon-person_add"></span>Create an account</a></li>
                    </ul>
                </div>
                <!-- /account -->
            </div>
        </div>
        <div class="container-fluid text-center">
            <!-- logo -->
            <div class="logo">
                <a href="index.html"><img src="images/logo-mobile.png" alt=""/></a>
            </div>
            <!-- /logo -->
        </div>
        <div class="container-fluid top-line">
            <div class="pull-left">
                <div class="mobile-parent-menu">
                    <div class="mobile-menu-toggle">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="menu-text">
								MENU
								</span>
                    </div>
                </div>
            </div>
            <div class="pull-right">
                <!-- search -->
                <div class="search">
                    <a href="#" class="search-open"><span class="icon icon-search"></span></a>
                    <div class="search-dropdown">
                        <form action="#" method="get">
                            <div class="input-outer">
                                <input type="search" name="search" value="" maxlength="128" placeholder="Enter keyword">
                                <button type="submit" class="btn-search"><span>Search</span></button>
                            </div>
                            <a href="#" class="search-close"><span class="icon icon-close"></span></a>
                        </form>
                    </div>
                </div>
                <!-- /search -->
            </div>
        </div>
    </div>
    <!-- /mobile-header -->
    <!-- desktop-header -->
    <div class="desktop-header  header-07">
        <div class="container">
            <div class="row">
                <div class="col-md-6 text-left">
                    <!-- social-icon -->
                    <div class="social-icon">
                        <ul>
                            <li><a href="http://www.facebook.com/"><span class="icon fa fa-facebook"></span></a></li>
                            <li><a href="http://www.twitter.com/"><span class="icon fa fa-twitter"></span></a></li>
                            <li><a href="http://www.google.com/"><span class="icon fa fa-google-plus"></span></a></li>
                            <li><a href="https://instagram.com/"><span class="icon fa fa-instagram"></span></a></li>
                        </ul>
                    </div>
                    <!-- /social-icon -->
                </div>
                <div class="col-md-6 text-right">
                    <!-- search -->
                    <div class="search">
                        <a href="#" class="search-open"><span class="icon icon-search"></span></a>
                        <div class="search-dropdown">
                            <form action="#" method="get">
                                <div class="input-outer">
                                    <input type="search" name="search" value="" maxlength="128" placeholder="Enter keyword">
                                    <button type="submit" class="btn-search">SEARCH</button>
                                </div>
                                <a href="#" class="search-close"><span class="icon icon-close"></span></a>
                            </form>
                        </div>
                    </div>
                    <!-- /search -->
                    <!-- account -->
                    <div class="account dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown">
                            <span class="icon icon-person "></span>
                            <span class="dropdown-label hidden-sm hidden-xs">My Account</span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="login-form.html"><span class="icon icon-person"></span>My Account</a></li>
                            <li><a href="wishlist.html"><span class="icon icon-favorite_border"></span>My Wishlist</a></li>
                            <li><a href="compare.html"><span class="fa fa-balance-scale"></span>Compare</a></li>
                            <li><a href="checkout.html"><span class="icon icon-check"></span>Checkout</a></li>
                            <li><a href="#" data-toggle="modal" data-target="#modalLoginForm"><span class="icon icon-lock_outline"></span>Log In</a></li>
                            <li><a href="login-form.html"><span class="icon icon-person_add"></span>Create an account</a></li>
                        </ul>
                    </div>
                    <!-- /account -->
                    <!-- cart -->
                    <div class="main-parent-cart">
                        <div class="cart">
                            <div class="dropdown">
                                <a class="dropdown-toggle">
                                    <span class="icon icon-shopping_basket"></span>
                                    {% if cart.lineItems|length %}
                                        <span class="badge badge-cart">{{ cart.lineItems|length }}</span>
                                    {% endif %}
                                    <div class="dropdown-label hidden-sm hidden-xs">YOUR BAG</div>
                                </a>
                                <div class="dropdown-menu slide-from-top">
                                    <div class="container">
                                        <div class="top-title">RECENTLY ADDED ITEM(S)</div>
                                        <a href="#" class="icon icon-close cart-close"></a>
                                        {% if cart.lineItems|length %}
                                            <ul>
                                                {% set lineItemHasErrors = false %}
                                                {% set count = 0 %}
                                                {% for item in cart.lineItems %}
                                                    {#{{ item | inspect }}#}
                                                    <form method="POST" class="form-cart-update-{{ count }}">
                                                        <input type="hidden" name="action" value="commerce/cart/updateLineItem">
                                                        {#<input type="hidden" name="redirect" value="shop/cart">#}
                                                        <input type="hidden" name="lineItemId" value="{{ item.id }}">
                                                        <li class="item">
                                                            <div class="img">
                                                                <a href="{{ siteUrl }}{{ item.snapshot.product.uri }}"><img src="{{ item.options.imgUrl }}" alt=""/></a>
                                                            </div>
                                                            <div class="info">
                                                            <div class="title-col">
                                                                <h2 class="title">
                                                                    <a href="{{ siteUrl }}{{ item.snapshot.product.uri }}">{{ item.snapshot.product.title }}</a>
                                                                </h2>
                                                            </div>
                                                            <div class="price">
                                                                {{ item.subtotal | commerceCurrency(cart.currency) }}
                                                            </div>
                                                            <div class="qty">
                                                                <div class="qty-label">Qty:</div>
                                                                <div class="style-2 input-counter">
                                                                    <span class="minus-btn"></span>
                                                                    {% if item.snapshot.unlimitedStock is defined and item.snapshot.unlimitedStock == 1 %}
                                                                        <input type="text" name="qty" value="{{ item.qty }}" size="100"/>
                                                                    {% else %}
                                                                        <input type="text" name="qty" value="{{ item.qty }}" size="{{ item.snapshot.stock }}"/>
                                                                    {% endif %}
                                                                    <span class="plus-btn"></span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="item-control">
                                                            <div class="delete"><a href="#" class="icon icon-delete cart-submit-delete" title="Delete"></a></div>
                                                            <div class="update"><a href="#" class="icon icon-cached cart-submit-update" title="Update" data-value="{{ count }}"></a></div>
                                                        </div>
                                                    </li>
                                                    </form>
                                                    <form method="POST" class="hidden form-cart-delete">
                                                        <input type="hidden" name="action" value="commerce/cart/removeLineItem"/>
                                                        {#<input type="hidden" name="redirect" value="shop/cart"/>#}
                                                        {{ getCsrfInput() }}
                                                        <input type="hidden" name="lineItemId" value="{{ item.id }}"/>
                                                    </form>
                                                    {% set count = count + 1 %}
                                                {% endfor %}
                                            </ul>
                                        {% else %}
                                            <h4 class="empty-cart-js">Your Cart is Empty</h4>
                                        {% endif %}
                                        <div class="cart-bottom">
                                            <div class="pull-right">
                                                <div class="pull-left">
                                                    <div class="cart-total">TOTAL:  <span> {{ cart.totalPrice | commerceCurrency(cart.currency) }}</span></div>
                                                </div>
                                                <a href="{{ url('checkout') }}" class="btn icon-btn-left"><span class="icon icon-check_circle"></span>CHECKOUT</a>
                                            </div>
                                            <div class="pull-left">
                                                <a href="{{ url('cart') }}" class="btn icon-btn-left"><span class="icon icon-shopping_basket"></span>VIEW CART</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /cart -->
                </div>
            </div>
        </div>
        <div class="top-line">
            <div class="container">
                <div class="row text-center">
                    <!-- logo -->
                    <div class="logo">
                        <a href="index.html"><img src="{{ siteUrl}}assets/images/atb-header-logo.png" alt=""/></a>
                    </div>
                    <!-- /logo -->
                </div>
            </div>
            <div class="container">
                <h1> </h1>
                <div class="row text-center">
                    <div class="menu-parent-box">
                        <!-- header-menu -->
                        <nav class="header-menu">
                            <ul>
                                <li class="dropdown">
                                    <a href="{{ siteUrl }}index.html">HOME</a>
                                </li>
                                <li class="dropdown"><a href="">MICROCHIP SEARCH</a></li>
                                <li class="dropdown">
                                    <a href="{{ siteUrl}}product-list/?type=birds">BIRD</a>
                                    <div class="dropdown-menu">
                                        <h2 class="title-submenu">PRODUCT</h2>
                                        <ul class="image-links-layout">
                                            <li>
                                                <a href="">
                                                    <span class="figure"><img src="{{ siteUrl}}assets/images/custom/product-img-01.png" alt=""></span>
                                                    <span class="figcaption">Image Size - Small</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="">
                                                    <span class="figure"><img src="{{ siteUrl}}assets/images/custom/product-img-02.png" alt=""></span>
                                                    <span class="figcaption">Image Size - Medium</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="">
                                                    <span class="figure"><img src="{{ siteUrl}}assets/images/custom/product-img-03.png" alt=""></span>
                                                    <span class="figcaption">Image Size - Big</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="">
                                                    <span class="figure"><img src="{{ siteUrl}}assets/images/custom/product-img-04.png" alt=""></span>
                                                    <span class="figcaption">Image Size - Medium</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="">
                                                    <span class="figure"><img src="{{ siteUrl}}assets/images/custom/product-img-05.png" alt=""></span>
                                                    <span class="figcaption">Image Size - Long</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="dropdown">
                                    <a href="{{ siteUrl}}product-list/?type=dogs">DOG</a>
                                </li>
                                <li class="dropdown">
                                    <a href="{{ siteUrl}}product-list/?type=cats">CAT</a>
                                </li>
                                <li class="dropdown">
                                    <a href="">ABOUT US</a>
                                </li>
                                <li class="dropdown">
                                    <a href="gallery_masonry_col_3.html">CONTACT US</a>
                                </li>
                            </ul>
                        </nav>
                        <!-- /header-menu -->
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- error handling -->
    <div class="flash">{{ craft.session.getFlash('notice') }}</div>
    <div class="flash">{{ craft.session.getFlash('error') }}</div>
    <div class="row">
        <div class="twelve columns">
            {% for error in cart.errors %}
            <div class="flash">{{ error|join(' ') }}</div>
            {% endfor  %}
        </div>
    </div>
    <!-- error handling end-->

    <!-- stuck nav -->
    <div class="stuck-nav">
        <div class="container">
            <div class="pull-left">
                <div class="stuck-menu-parent-box"></div>
            </div>
            <div class="pull-right">
                <div class="stuck-cart-parent-box"></div>
            </div>
        </div>
    </div>
    <!-- /stuck nav -->
</header>

<!--header end-->