{#
 # News entry template
 # -------------------
 #
 # This template gets loaded whenever a News entry’s URL is
 # requested. That’s because the News section’s Template setting is
 # set to “news/_entry”, the path to this template.
 #
 # When this template is loaded, it will already have an ‘entry’
 # variable, set to the requested News entry.
 #
 # See this page for more details on how Craft routes requests:
 # http://craftcms.com/docs/routing
 #}

{% extends "_layout" %}

{% block content %}
	<article>
		<h1>{{ entry.title }}</h1>
        <h1>{{ entry.body }}</h1>
        <p>Posted on {{ entry.postDate.format('F d, Y') }}</p>
        {{ entry.body }}
        <img src="{ entry.img }}"/>
	</article>

    <!--{% if entry.int %}-->
    <!--<p>{{ entry.name }} was born in {{ entry.int }}.</p>-->

    <!--{% set age = now.year - entry.int %}-->
    <!--<p>That makes them {{ age }} years old!</p>-->
    <!--{% endif %}-->

    <!--<h3>Watch me count to ten!</h3>-->
    <!--<ul>-->
        <!--{-->
        <!--{% for num in range(1, int.int) %}-->
        <!--<li class="{{ cycle(['odd', 'even'], loop.index0) }}">-->
            <!--{{ num }}-->
        <!--</li>-->
        <!--{% endfor %}-->
    <!--</ul>-->
{% endblock %}