{#
 # News entry template
 # -------------------
 #
 # This template gets loaded whenever a News entry’s URL is
 # requested. That’s because the News section’s Template setting is
 # set to “news/_entry”, the path to this template.
 #
 # When this template is loaded, it will already have an ‘entry’
 # variable, set to the requested News entry.
 #
 # See this page for more details on how Craft routes requests:
 # http://craftcms.com/docs/routing
 #}

{% extends "_layout" %}

{% block content %}
	<article>
		<h1>{{ entry.title }}</h1>
        <h1>{{ entry.body }}</h1>
        <p>Posted on {{ entry.postDate.format('F d, Y') }}</p>
        {{ entry.body }}
        {% set image = entry.img.first() %}
        {# dump(image) #}
        <img style="width: 100%;" src="{{ image.url }}" />
        <p>{{ image.url }}</p>

        {% if ( entry.int == 51) %}
        <p>{{ entry.int }}</p>
        {% elseif ( entry.int !=51 ) %}
        <p>int is not 51</p>
        {% endif %}
	</article>


{% endblock %}