{% extends '_layouts/site' %}
{% block main %}
  {% set addresses = craft.commerce.customer.addresses %}
  <div class="breadcrumb">
    <div class="container">
      <ul>
        <li><a href="index.html">Home</a></li>
        <li>Checkout</li>
      </ul>
    </div>
  </div>
  <!-- Content -->
  <div id="pageContent">
    <div class="container offset-18">
      <h1 class="block-title large">Checkout</h1>
      <div class="row offset-48">
        <div class="col-md-8">
          <!-- Nav tabs -->
          <ul class="nav nav-tabs checkout-tab">
            <li class="active">
              <a href="#Shipping" data-toggle="tab">
                <div class="numeral-box">
                  <span class="numeral">1</span>
                  <span class="icon icon-check"></span>
                </div>
                <div class="title">
                  Shipping
                </div>
              </a>
            </li>
            <li>
              <a href="#Review" data-toggle="tab">
                <div class="numeral-box">
                  <span class="numeral">2</span>
                </div>
                <div class="title">
                  Review &amp; Payments
                </div>
              </a>
            </li>
          </ul>
          <!-- Tab panes -->
          <div class="tab-content checkout-tab-content">
            <div class="tab-pane active" id="Shipping">
              <h2 class="title-checkout">SHIPPING ADDRESS</h2>
              <form class="form-horizontal">
                <div class="form-group">
                  <label for="inputFirstName" class="col-sm-3 control-label">First Name: <span>*</span></label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control" id="inputFirstName">
                  </div>
                </div>
                <div class="form-group">
                  <label for="inputLastName" class="col-sm-3 control-label">Last Name: <span>*</span></label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control" id="inputLastName">
                  </div>
                </div>
                <div class="form-group">
                  <label for="inputCompany" class="col-sm-3 control-label">Company: </label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control" id="inputCompany">
                  </div>
                </div>
                <div class="form-group">
                  <label for="inputStreet" class="col-sm-3 control-label">Street: <span>*</span></label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control" id="inputStreet">
                  </div>
                </div>
                <div class="form-group">
                  <label for="inputCity" class="col-sm-3 control-label">City: <span>*</span></label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control" id="inputCity">
                  </div>
                </div>
                <div class="form-group">
                  <label for="inputState" class="col-sm-3 control-label">State/Province: <span>*</span></label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control" id="inputState">
                  </div>
                </div>
                <div class="form-group">
                  <label for="inputZip" class="col-sm-3 control-label">Zip/Postal Code: <span>*</span></label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control" id="inputZip">
                  </div>
                </div>
                <div class="form-group">
                  <label for="inputCountry" class="col-sm-3 control-label">Country: <span>*</span></label>
                  <div class="col-sm-9">
                    <select id="inputCountry" class="form-control">
                      <option>text</option>
                    </select>
                  </div>
                </div>
                <div class="form-group">
                  <label for="inputPhone" class="col-sm-3 control-label">Phone Number: <span>*</span></label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control" id="inputPhone">
                  </div>
                </div>
              </form>
              <hr>
              <h2 class="title-checkout">SHIPPING METHODS</h2>
              <table class="checkout-table-01">
                <tbody>
                <tr>
                  <td>Select Method:</td>
                  <td>
                    <label class="radio">
                      <input id="radio1" type="radio" name="radios">
                      <span class="outer"><span class="inner"></span></span>
                    </label>
                  </td>
                </tr>
                <tr>
                  <td>Price:</td>
                  <td>
                    <span class="color-base">$5.00</span>
                  </td>
                </tr>
                <tr>
                  <td>Method Title:</td>
                  <td>Fixed</td>
                </tr>
                <tr>
                  <td>Carrier Title:</td>
                  <td>Flat Rate</td>
                </tr>
                </tbody>
              </table>
              <a class="btn icon-btn-right" href="#">NEXT<span class="icon icon-chevron_right"></span></a>
            </div>
            <div class="tab-pane checkout-tab-content" id="Review">
              <h2 class="title-checkout">PAYMENT</h2>
              <div class="checkout-box-01">
                <h6>Payment Information</h6>
                Check / Money order
                <label class="radio">
                  <input id="radio2" type="radio" name="radios">
                  <span class="outer"><span class="inner"></span></span>
                  My billing and shipping address are the same
                </label>
                Lorem ipsum dolor sit amet conse <br>
                Ctetur adipisicing elit, sed do <br>
                Wiusmod tempor incididunt ut labore <br>
                Et dolore magna aliqua.
              </div>
              <hr>
              <h2 class="title-checkout">APPLY DISCOUNT CODE </h2>
              <div class="checkout-box-02">
                <form class="form-inline">
                  <input type="text" class="form-control">
                  <a class="btn btn-border color-default" href="#">APPLY DISCOUNT</a>
                </form>
              </div>
              <a class="btn" href="#">PLEASE ORDER</a>
            </div>
          </div>
        </div>
        <div class="col-md-4 checkout-box-aside ">
          <div class="checkout-box">
            <div class="checkout-table-02">
              <table>
                <thead>
                <tr>
                  <td colspan="2">Order Summary</td>
                </tr>
                </thead>
                <tbody>
                <tr>
                  <td>SUBTOTAL:</td>
                  <td>{{ cart.itemSubTotal|commerceCurrency(cart.currency) }}</td>
                </tr>
                <tr>
                  <td>SHIPPING(FLAT RATE - FIXED):</td>
                  <td>{{ cart.totalShippingCost|commerceCurrency(cart.currency) }}</td>
                </tr>
                <tr>
                  <td>ORDER TOTAL:</td>
                  <td><strong class="color-base">{{ cart.totalPrice|commerceCurrency(cart.currency) }}</strong></td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="checkout-box">
            <h3>{{ cart.lineItems|length }} ITEM IN CART</h3>
            <div class="checkout-box-03">
                {% if cart.lineItems|length %}
                    {% set lineItemHasErrors = false %}
                    {% for item in cart.lineItems %}
                      <div class="item">
                        <div class="img">
                          <a href="{{ siteUrl }}{{ item.snapshot.product.uri }}"><img src="{{ item.options.imgUrl }}" alt=""></a>
                        </div>
                        <div class="description">
                          <a href="{{ siteUrl }}{{ item.snapshot.product.uri }}" class="title">{{ item.snapshot.product.title }}</a>
                          <div class="price">{{ item.price | commerceCurrency(cart.currency) }}</div>
                          <p>
                            QTY:{{ item.qty }}
                          </p>
                        </div>
                      </div>
                    {% endfor %}
                {% else %}
                  <h2 class="empty-cart-js">Your Cart is Empty</h2>
                {% endif %}
            </div>
          </div>
          <div class="checkout-box">
            <div class="button-edit">
              <span class="icon icon-create"></span>
            </div>
            <h3>SHIP TO:</h3>
            <div class="checkout-box-content">
              <p>
                My billing and shipping address are the same
                Lorem ipsum dolor sit amet conse
                Ctetur adipisicing elit, sed do
                Wiusmod tempor incididunt ut labore
                Et dolore magna aliqua.
              </p>
            </div>
          </div>
          <div class="checkout-box">
            <div class="button-edit">
              <span class="icon icon-create"></span>
            </div>
            <h3>SHIPPING METHOD:</h3>
            <div class="checkout-box-content">
              <p>m ipsum dolor sit amet conse</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock main %}
