<!DOCTYPE html>
<html lang="en">
<head>
{% block head %}


    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <title>Animaltuckerbox</title>
    <link rel="shortcut icon" href="{{ siteUrl}}assets/favicon/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

<!--styles-->

    <link rel="stylesheet" href="{{ siteUrl}}assets/external/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="{{ siteUrl}}assets/external/slick/slick.min.css">
    <link rel="stylesheet" href="{{ siteUrl}}assets/external/magnific-popup/magnific-popup.css">
    <link rel="stylesheet" href="{{ siteUrl}}assets/external/rs-plugin/css/settings.min.css" media="screen" />
    <link rel="stylesheet" href="{{ siteUrl}}assets/css/template.css">
    <link rel="stylesheet" href="{{ siteUrl}}assets/font/icont-fonts.min.css">
    <link rel="stylesheet" href="{{ siteUrl}}assets/css/main.css">
<!--style end-->


{% endblock head %}
</head>
<body class="same_product_height" id="home">
<div class="loader-wrapper">
    <div class="loader">
        <svg class="circular" viewBox="25 25 50 50">
            <circle class="loader-animation" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"/>
        </svg>
    </div>
</div>
<!--[if lt IE 8]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->
{% set cart = craft.commerce.cart %}

{% block body %}{% endblock body %}

<!-- modalLoginForm-->
<div class="modal  fade"  id="modalLoginForm" tabindex="-1" role="dialog" aria-label="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md-small">
        <div class="modal-content ">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="icon icon-clear"></span></button>
                <h4 class="modal-title text-center text-uppercase">Login form</h4>
            </div>
            <form method="post" accept-charset="UTF-8">
                {{ getCsrfInput() }}
                <div class="modal-body">
                    <!--modal-add-login-->
                    <div class="modal-login">
                        <input type="hidden" name="action" value="users/login">
                        <div class="form-group">
                            <div class="input-group">
										<span class="input-group-addon">
										<span class="icon icon-person_outline"></span>
										</span>
                                <input type="text" id="LoginFormName" name="loginName" class="form-control" placeholder="email@site.com" value="{{ craft.session.rememberedUsername }}">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
										<span class="input-group-addon">
										<span class="icon icon-lock_outline"></span>
										</span>
                                <input type="password" id="LoginFormPass" class="form-control" placeholder="Password:" name="password">
                            </div>
                        </div>
                        <div class="checkbox-group">
                            <input type="checkbox" id="checkBox2" name="rememberMe" value="1">
                            <label for="checkBox2">
                                <span class="check"></span>
                                <span class="box"></span>
                                Remember me
                            </label>
                        </div>
                        <button type="submit" value="Login" class="btn btn-full">SIGN IN</button>
                        <a href="{{ siteUrl }}registration"><button type="button" class="btn btn-full">CREATE AN ACCOUNT</button></a>
                        <div class="text-center"></div>
                        <div class="social-icon-fill">
                            <div>Or sign in with social</div>
                            <ul>
                                <li><a class="icon bg-facebook fa fa-facebook" href="http://www.facebook.com/"></a></li>
                                <li><a class="bg-twitter fa fa-twitter" href="http://www.twitter.com/"></a></li>
                                <li><a class="bg-google-plus fa fa-google-plus" href="http://www.google.com/"></a></li>
                            </ul>
                        </div>
                        <ul class="link-functional">
                            <li><a href="#">Forgot your username?</a></li>
                            <li><a href="#">Forgot your password?</a></li>
                        </ul>
                    </div>
                    <!--/modal-add-login-->
                </div>
            </form>
        </div>
    </div>
</div>
<!-- /modalLoginForm-->
<!-- Modal (quickViewModal) -->
<div class="modal  fade"  id="ModalquickView" tabindex="-1" role="dialog" aria-label="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content ">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="icon icon-clear"></span></button>
            </div>
            <div class="modal-body">
                <!--modal-quick-view-->
                <div class="modal-quick-view">
                    <div class="row">
                        <form method="post" class="ProductAddToCart_quickview">
                            {{ getCsrfInput() }}
                            <input type="hidden" name="action" value="commerce/cart/updateCart">
                            <select class="ProductImageUrl hidden" type="hidden" name="options[imgUrl]">
                                <option value="{{siteUrl}}assets/img/ImagePlaceHolder.png"></option>
                            </select>
                            <div class="col-sm-5 col-lg-6">
                                <div class="product-main-image">
                                    <img class="ProductImage" src="{{siteUrl}}assets/img/ImagePlaceHolder.png" alt="No Image" />
                                </div>
                            </div>
                            <div class="col-sm-7 col-lg-6">
                                <div class="product-info">
                                    <div class="add-info">
                                        <div class="sku pull-left">
                                            <span class="font-weight-medium color-defaulttext2">SKU:</span> <span class="value">NO SKU</span>
                                        </div>
                                        <div class="availability pull-left">
                                            <span class="font-weight-medium color-defaulttext2">Availability:</span> <span class="value"> Can't Get Stock Info </span>
                                        </div>
                                    </div>
                                    <input type="hidden" class="product-id" name="purchasableId" value="-1"/>
                                    <h1 class="title">Can't get title for this product</h1>
                                    <div class="price">Can't get price for this product</div>
                                    <div class="description hidden-xs">
                                        <div class="text">
                                            This product has no discription.
                                        </div>
                                    </div>
                                    <div class="wrapper">
                                        <div class="title-options">Size <span class="color-required">*</span></div>
                                        <ul class="tags-list">
                                            <li><a href="#">XS</a></li>
                                            <li class="active"><a href="#">S</a></li>
                                            <li><a href="#">M</a></li>
                                            <li><a href="#">L</a></li>
                                        </ul>
                                    </div>
                                    <div class="wrapper">
                                        <div class="pull-left"><label class="qty-label">qty</label></div>
                                        <div class="pull-left">
                                            <div class="style-2 input-counter">
                                                <span class="minus-btn"></span>
                                                <input class="qty" type="text" name="qty" value="1" size="5"/>
                                                <span class="plus-btn"></span>
                                            </div>
                                        </div>
                                        <div class="pull-left">
                                            <button type="button" class="btn btn-quickview-addtocart" data-toggle="modal" data-target="#modalAddToCartProduct">
                                                <span class="icon icon-shopping_basket"></span>ADD TO CART
                                            </button>
                                        </div>
                                    </div>
                                    <div class="wrapper">
                                        <div class="pull-left">
                                            <ul class="product_inside_info_link">
                                                <li class="text-right">
                                                    <a href="#">
                                                        <span class="fa fa-heart-o"></span>
                                                        <span class="text">ADD TO WISHLIST</span>
                                                    </a>
                                                </li>
                                                <li class="text-left">
                                                    <a href="#" class="compare-link">
                                                        <span class="fa fa-balance-scale"></span>
                                                        <span class="text">ADD TO COMPARE</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="wrapper">
                                        <ul class="social-icon-square">
                                            <li><a class="icon-01" href="#"></a></li>
                                            <li><a class="icon-02" href="#"></a></li>
                                            <li><a class="icon-03" href="#"></a></li>
                                            <li><a class="icon-04" href="#"></a></li>
                                            <li><a class="icon-05" href="#"></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <!--/modal-quick-view-->
            </div>
        </div>
    </div>
</div>
<!-- / Modal (quickViewModal) -->
<!-- modalAddToCartProduct -->
<div class="modal  fade"  id="modalAddToCartProduct" tabindex="-1" role="dialog" aria-label="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="icon icon-clear"></span></button>
            </div>
            <div class="modal-body">
                <!--  -->
                <div class="modal-add-cart-product desctope">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="modal-messages">
                                <span class="icon color-base icon-check_circle"></span>
                                <p>
                                    Product successfully added to your shopping cart
                                </p>
                            </div>
                            <div class="modal-product">
                                <div class="image-box">
                                    <img src="images/product/product-01.jpg" alt="">
                                </div>
                                <div class="title">
                                    Daisy Street 3/4 Sleeve Panelled Casual Shirt
                                </div>
                                <div class="description">
                                    Black,  Xl
                                </div>
                                <div class="qty">
                                    Qty: <span>1</span>
                                </div>
                            </div>
                            <div class="total added-total">
                                TOTAL: <span>$135</span>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="cart-item-total">
                                <a href="cart.html">
                                    <div class="cart-item-icon">
                                        <span class="icon icon-shopping_basket"></span>View Cart
                                    </div>
                                </a>
                                <p>
                                    There are {{ cart.lineItems|length }} items<br> in your cart
                                </p>
                            </div>
                            <div class="total-product">
                                Total products: <span>{{ cart.itemSubTotal |commerceCurrency(cart.currency) }}</span>
                            </div>
                            <div class="total">
                                TOTAL: <span>{{ cart.totalPrice | commerceCurrency(cart.currency) }}</span>
                            </div>
                            <a href="{{ siteUrl }}product-list" class="btn invert">CONTINUE SHOPPING</a>
                            <a href="#" class="btn">PROCEED TO CHECKOUT</a>
                        </div>
                    </div>
                </div>
                <div class="modal-add-cart-product mobile">
                    <div class="modal-messages">
                        <span class="icon color-base icon-check_circle"></span>
                        <p>
                            Added to cart successfully!
                        </p>
                    </div>
                    <a href="{{ siteUrl }}cart" class="btn btn-underline">GO TO CART!</a>
                </div>
                <!-- / -->
            </div>
        </div>
    </div>
</div>
<!-- /modalAddToCartProduct -->
<!-- modalCompare -->
<div class="modal-compare">
    <div class="container">
        <a href="#" class="icon icon-close button-close"></a>
        <div class="title-top">COMPARE</div>
        <div class="row-content">
            <div class="item">
                <a href="#" class="img"><img src="images/product/product-01.jpg" alt=""/></a>
                <a href="#" class="title">Daisy Street 3/4 Sleeve Panelled Casual Shirt</a>
                <div class="price">
                    $45
                </div>
                <a href="#" class="icon icon-delete"></a>
            </div>
            <div class="item">
                <a href="#" class="img"><img src="images/product/product-01.jpg" alt=""/></a>
                <a href="#" class="title">Daisy Street 3/4 Sleeve Panelled Casual Shirt</a>
                <div class="price">
                    $45
                </div>
                <a href="#" class="icon icon-delete"></a>
            </div>
            <div class="item">
                <a href="#" class="img"><img src="images/product/product-01.jpg" alt=""/></a>
                <a href="#" class="title">Daisy Street 3/4 Sleeve Panelled Casual Shirt</a>
                <div class="price">
                    $45
                </div>
                <a href="#" class="icon icon-delete"></a>
            </div>
            <div class="item">
                <a href="#" class="img"><img src="images/product/product-01.jpg" alt=""/></a>
                <a href="#" class="title">Daisy Street 3/4 Sleeve Panelled Casual Shirt</a>
                <div class="price">
                    $45
                </div>
                <a href="#" class="icon icon-delete"></a>
            </div>
            <div class="item">
                <a href="#" class="img"><img src="images/product/product-01.jpg" alt=""/></a>
                <a href="#" class="title">Daisy Street 3/4 Sleeve Panelled Casual Shirt</a>
                <div class="price">
                    $45
                </div>
                <a href="#" class="icon icon-delete"></a>
            </div>
            <div class="item">
                <a href="#" class="img"><img src="images/product/product-01.jpg" alt=""/></a>
                <a href="#" class="title">Daisy Street 3/4 Sleeve Panelled Casual Shirt</a>
                <div class="price">
                    $45
                </div>
                <a href="#" class="icon icon-delete"></a>
            </div>
            <div class="item">
                <a href="#" class="img"><img src="images/product/product-01.jpg" alt=""/></a>
                <a href="#" class="title">Daisy Street 3/4 Sleeve Panelled Casual Shirt</a>
                <div class="price">
                    $45
                </div>
                <a href="#" class="icon icon-delete"></a>
            </div>
            <div class="item">
                <a href="#" class="img"><img src="images/product/product-01.jpg" alt=""/></a>
                <a href="#" class="title">Daisy Street 3/4 Sleeve Panelled Casual Shirt</a>
                <div class="price">
                    $45
                </div>
                <a href="#" class="icon icon-delete"></a>
            </div>
            <div class="item">
                <a href="#" class="img"><img src="images/product/product-01.jpg" alt=""/></a>
                <a href="#" class="title">Daisy Street 3/4 Sleeve Panelled Casual Shirt</a>
                <div class="price">
                    $45
                </div>
                <a href="#" class="icon icon-delete"></a>
            </div>
            <div class="item">
                <a href="#" class="img"><img src="images/product/product-01.jpg" alt=""/></a>
                <a href="#" class="title">Daisy Street 3/4 Sleeve Panelled Casual Shirt</a>
                <div class="price">
                    $45
                </div>
                <a href="#" class="icon icon-delete"></a>
            </div>
            <div class="item">
                <a href="#" class="img"><img src="images/product/product-01.jpg" alt=""/></a>
                <a href="#" class="title">Daisy Street 3/4 Sleeve Panelled Casual Shirt</a>
                <div class="price">
                    $45
                </div>
                <a href="#" class="icon icon-delete"></a>
            </div>
        </div>
        <div class="row-button">
            <a href="#" class="clear-all btn btn-lg btn-underline"><span>CLEAR ALL</span></a>
            <a href="#" class="btn btn-inversion btn-compare"><span class="fa fa-balance-scale"></span>COMPARE</a>
        </div>
    </div>
</div>
<!-- /modalCompare -->
<!-- modalWishlist -->
<div class="modal-wishlist">
    <div class="container">
        <a href="#" class="icon icon-close button-close"></a>
        <div class="title-top">MY WISHLIST</div>
        <div class="row-content">
            <div class="item">
                <a href="#" class="img"><img src="images/product/product-01.jpg" alt=""/></a>
                <a href="#" class="title">Daisy Street 3/4 Sleeve Panelled Casual Shirt</a>
                <div class="price">
                    $45
                </div>
                <a href="#" class="icon icon-delete"></a>
                <a href="#" class="icon icon-check icon-check_circle"></a>
            </div>
            <div class="item">
                <a href="#" class="img"><img src="images/product/product-01.jpg" alt=""/></a>
                <a href="#" class="title">Daisy Street 3/4 Sleeve Panelled Casual Shirt</a>
                <div class="price">
                    $45
                </div>
                <a href="#" class="icon icon-delete"></a>
                <a href="#" class="icon icon-check icon-check_circle"></a>
            </div>
            <div class="item">
                <a href="#" class="img"><img src="images/product/product-01.jpg" alt=""/></a>
                <a href="#" class="title">Daisy Street 3/4 Sleeve Panelled Casual Shirt</a>
                <div class="price">
                    $45
                </div>
                <a href="#" class="icon icon-delete"></a>
                <a href="#" class="icon icon-check icon-check_circle"></a>
            </div>
            <div class="item">
                <a href="#" class="img"><img src="images/product/product-01.jpg" alt=""/></a>
                <a href="#" class="title">Daisy Street 3/4 Sleeve Panelled Casual Shirt</a>
                <div class="price">
                    $45
                </div>
                <a href="#" class="icon icon-delete"></a>
                <a href="#" class="icon icon-check icon-check_circle"></a>
            </div>
            <div class="item">
                <a href="#" class="img"><img src="images/product/product-01.jpg" alt=""/></a>
                <a href="#" class="title">Daisy Street 3/4 Sleeve Panelled Casual Shirt</a>
                <div class="price">
                    $45
                </div>
                <a href="#" class="icon icon-delete"></a>
                <a href="#" class="icon icon-check icon-check_circle"></a>
            </div>
            <div class="item">
                <a href="#" class="img"><img src="images/product/product-01.jpg" alt=""/></a>
                <a href="#" class="title">Daisy Street 3/4 Sleeve Panelled Casual Shirt</a>
                <div class="price">
                    $45
                </div>
                <a href="#" class="icon icon-delete"></a>
                <a href="#" class="icon icon-check icon-check_circle"></a>
            </div>
            <div class="item">
                <a href="#" class="img"><img src="images/product/product-01.jpg" alt=""/></a>
                <a href="#" class="title">Daisy Street 3/4 Sleeve Panelled Casual Shirt</a>
                <div class="price">
                    $45
                </div>
                <a href="#" class="icon icon-delete"></a>
                <a href="#" class="icon icon-check icon-check_circle"></a>
            </div>
            <div class="item">
                <a href="#" class="img"><img src="images/product/product-01.jpg" alt=""/></a>
                <a href="#" class="title">Daisy Street 3/4 Sleeve Panelled Casual Shirt</a>
                <div class="price">
                    $45
                </div>
                <a href="#" class="icon icon-delete"></a>
                <a href="#" class="icon icon-check icon-check_circle"></a>
            </div>
            <div class="item">
                <a href="#" class="img"><img src="images/product/product-01.jpg" alt=""/></a>
                <a href="#" class="title">Daisy Street 3/4 Sleeve Panelled Casual Shirt</a>
                <div class="price">
                    $45
                </div>
                <a href="#" class="icon icon-delete"></a>
                <a href="#" class="icon icon-check icon-check_circle"></a>
            </div>
            <div class="item">
                <a href="#" class="img"><img src="images/product/product-01.jpg" alt=""/></a>
                <a href="#" class="title">Daisy Street 3/4 Sleeve Panelled Casual Shirt</a>
                <div class="price">
                    $45
                </div>
                <a href="#" class="icon icon-delete"></a>
                <a href="#" class="icon icon-check icon-check_circle"></a>
            </div>
            <div class="item">
                <a href="#" class="img"><img src="images/product/product-01.jpg" alt=""/></a>
                <a href="#" class="title">Daisy Street 3/4 Sleeve Panelled Casual Shirt</a>
                <div class="price">
                    $45
                </div>
                <a href="#" class="icon icon-delete"></a>
                <a href="#" class="icon icon-check icon-check_circle"></a>
            </div>
        </div>
        <div class="row-button">
            <a href="#" class="clear-all btn btn-lg btn-underline"><span>CLEAR ALL</span></a>
        </div>
    </div>
</div>
<!-- /modalWishlist -->

{% block foot %}{% endblock foot %}


<!-- Scripts -->

<script src="{{ siteUrl }}assets/external/jquery/jquery-2.1.4.min.js"></script>
<script src="{{ siteUrl }}assets/external/bootstrap/bootstrap.min.js"></script>
<script src="{{ siteUrl }}assets/external/countdown/jquery.plugin.min.js"></script>
<script src="{{ siteUrl }}assets/external/countdown/jquery.countdown.min.js"></script>
<script src="{{ siteUrl }}assets/external/isotope/isotope.pkgd.min.js"></script>
<script src="{{ siteUrl }}assets/external/slick/slick.min.js"></script>
<script src="{{ siteUrl }}assets/external/instafeed/instafeed.min.js"></script>
<script src="{{ siteUrl }}assets/external/rs-plugin/js/jquery.themepunch.tools.min.js"></script>
<script src="{{ siteUrl }}assets/external/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>
<script src="{{ siteUrl }}assets/external/isotope/isotope.pkgd.min.js"></script>
<script src="{{ siteUrl }}assets/external/nouislider/nouislider.min.js"></script>
<script src="{{ siteUrl }}assets/external/panelmenu/panelmenu.js"></script>
<script src="{{ siteUrl }}assets/js/quick-view.js"></script>
<script src="{{ siteUrl }}assets/js/instafeed.js"></script>
<script src="{{ siteUrl }}assets/js/main.js"></script>
<script src="{{ siteUrl }}assets/js/custom.js"></script>

<!--script end-->

</body>
</html>