{% extends "_layouts/site" %}

{% block main %}
    <div id="pageContent">
        <div class="container  offset-18">
            <h1 class="block-title text-inherit large text">Shopping cart</h1>
            <div class="row">
                <div class="col-lg-8">
                    <div class="shopping-cart-col">
                    <!-- Shopping cart table -->
                    {% if cart.lineItems|length %}
                    {% set lineItemHasErrors = false %}
                    <table class="shopping-cart-table">
                        <tbody>
                        {% set count = 0 %}
                        {% for item in cart.lineItems %}
                            <form method="POST" class="form-cart-update-{{ count }}">
                            <input type="hidden" name="action" value="commerce/cart/updateLineItem">
                            <input type="hidden" name="lineItemId" value="{{ item.id }}">
                            <tr>
                                <td>
                                    <div class="product-image">
                                        <a href="{{ siteUrl }}{{ item.snapshot.product.uri }}">
                                            <img src="{{ item.options.imgUrl }}" alt="">
                                        </a>
                                    </div>
                                </td>
                                <td>
                                    <h5 class="product-title">
                                        <a href="{{ siteUrl }}{{ item.snapshot.product.uri }}">{{ item.snapshot.product.title }}</a>
                                    </h5>
                                    <ul class="list-parameters">
                                        {#<li>#}
                                            {#{{ item.description }}#}
                                        {#</li>#}
                                        <li class="visible-xs visible-sm">
                                            <div class="product-price unit-price">{{ item.price | commerceCurrency(cart.currency) }}</div>
                                        </li>
                                        <li class="visible-xs visible-sm">
                                            <div class="detach-quantity-mobile">

                                            </div>
                                        </li>
                                        <li class="visible-xs visible-sm">
                                            <div class="product-price subtotal">{{ item.subtotal | commerceCurrency(cart.currency) }}</div>
                                        </li>
                                    </ul>
                                </td>
                                <td>
                                    <div class="product-price unit-price">
                                        {{ item.price | commerceCurrency(cart.currency) }}
                                    </div>
                                </td>
                                <td>
                                    <div class="detach-quantity-desctope">
                                        <div class="input">
                                            <label>Qty:</label>
                                            <div class="style-2 input-counter">
                                                <span class="minus-btn"></span>
                                                {% if item.snapshot.unlimitedStock is defined and item.snapshot.unlimitedStock == 1 %}
                                                    <input type="text" name="qty" value="{{ item.qty }}" size="100"/>
                                                {% else %}
                                                    <input type="text" name="qty" value="{{ item.qty }}" size="{{ item.snapshot.stock }}"/>
                                                {% endif %}
                                                <span class="plus-btn"></span>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="product-price subtotal">
                                        {{ item.subtotal | commerceCurrency(cart.currency) }}
                                    </div>
                                </td>
                                <td>
                                    <a href="#" class="product-delete icon icon-cached cart-submit-update" title="Update" data-value="{{ count }}"></a>
                                </td>
                                <td>
                                    <a class="product-delete icon icon-delete cart-submit-delete" title="Delete" href="#"></a>
                                </td>
                            </tr>
                        </form>
                            {% set count = count + 1 %}
                        {% endfor %}
                    </table>
                    {% else %}
                    <table class="shopping-cart-table">
                        <tbody>
                        <tr>
                            <th colspan="5" style="text-align: center;"><h2 class="empty-cart-js">Your Cart is Empty</h2></th>
                        </tr>
                        </tbody>
                    </table>
                    {% endif %}
                    <!-- /Shopping cart table -->
                    <div class="shopping-cart-btns">
                        <div class="pull-right item-control">
                            <div class="clearfix visible-xs visible-sm"></div>
                            <form method="POST" class="empty-the-cart-form">
                                <input type="hidden" name="action" value="commerce/cart/removeAllLineItems"/>
                                {{ getCsrfInput() }}
                            </form>
                            <div class="delete empty-the-cart"><a class="btn-link" href="#"><span class="icon icon-delete"></span>CLEAR SHOPPING CART</a></div>
                        </div>
                        <div class="pull-left">
                            <a class="btn-link" href="{{ siteUrl }}product-list"><span class="icon icon-keyboard_arrow_left"></span>CONTINUE SHOPPING </a>
                        </div>
                    </div>
                    </div>
                </div>
                <div class="col-lg-4 shopping-cart-box-aside">
                    <div class="shopping-cart-box">
                        <h4>ESTIMATE SHIPPING AND TAX</h4>
                        <p>Enter your destination to get a shipping estimate.</p>
                        <form>
                            <div class="form-group">
                                <label  for="selectCountry">Country<span class="color-base">*</span></label>
                                <select  id="selectCountry" class="form-control">
                                    <option>Austria </option>
                                    <option>Belgium</option>
                                    <option>Cyprus </option>
                                    <option>Croatia </option>
                                    <option>Czech Republic </option>
                                    <option>Denmark </option>
                                    <option>Finland </option>
                                    <option>France </option>
                                    <option>Germany </option>
                                    <option>Greece </option>
                                    <option>Hungary </option>
                                    <option>Ireland </option>
                                    <option>France </option>
                                    <option>Italy </option>
                                    <option>Luxembourg </option>
                                    <option>Netherlands </option>
                                    <option>Poland </option>
                                    <option>Portugal </option>
                                    <option>Slovakia </option>
                                    <option>Slovenia </option>
                                    <option>Spain </option>
                                    <option>United Kingdom </option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="inputZip">Zip/Postal Code</label>
                                <input type="text" class="form-control" id="inputZip">
                            </div>
                            <button type="submit" class="btn btn-top btn-border  color-default">CALCULATE SHIPPING</button>
                            <p class="indent">
                                There is one shipping rate available for<br>  22222, Ukraine.
                            </p>
                            <p>
                                <b class="color-defaulttext2">Standard Shipping at $10.00</b>
                            </p>
                        </form>
                    </div>
                    <div class="shopping-cart-box">
                        <h4>NOTE</h4>
                        <p>
                            Add special instructions for your order...
                        </p>
                        <form>
                            <div class="form-group">
                                <textarea class="form-control" rows="10"></textarea>
                            </div>
                        </form>
                    </div>
                    <div class="shopping-cart-box">
                        <table class="table-total">
                            <tbody>
                            <tr>
                                <th class="text-left">SUBTOTAL:</th>
                                <td class="text-right">{{ cart.itemSubTotal|commerceCurrency(cart.currency) }}</td>
                            </tr>
                            <tr>
                                <th class="text-left">TAX:</th>
                                <td class="text-right">{{ cart.totalTax|commerceCurrency(cart.currency) }}</td>
                            </tr>
                            </tbody>
                            <tfoot>
                            <tr>
                                <th>GRAND TOTAL:</th>
                                <td>{{ cart.totalPrice|commerceCurrency(cart.currency) }}</td>
                            </tr>
                            </tfoot>
                        </table>
                        <a href="#" class="btn btn-full icon-btn-left"><span class="icon icon-check_circle"></span> PROCEED TO CHECKOUT</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
