{% extends '_layouts/site' %}
{% block main %}
	<div class="breadcrumb">
		<div class="container">
			<ul>
				<li><a href="index.html">Home</a></li>
				<li>Registration</li>
			</ul>
		</div>
	</div>
	<!-- Content -->
	<div id="pageContent">
		<div class="container offset-18">
			<h1 class="block-title large">Registration</h1>
			<div class="row">
				<div class="col-sm-12 col-md-6 col-lg-6">
					<div class="login-form-box">
						<h2>PROCEED AS A GUEST</h2>
						<p>
							Type your email and proceed as a guest.
						</p>
						<form method="POST">
							<input type="hidden" name="action" value="commerce/cart/updateCart">
							<input type="hidden" name="redirect" value="checkout/addresses">
                            {{ getCsrfInput() }}
							<div class="form-group">
								<div class="input-group">
									<span class="input-group-addon"><span class="icon icon-email"></span></span>
								{#<label for="">Email</label>#}
									<input class="form-control" type="text" value="{{ cart.email }}" name="email" placeholder="email@site.com">
								</div>
							</div>
							<span class="flash">{{ cart.getErrors('email')|join }}</span><br>
							<div class="extra-bottom">
								<a href="registration.html"><button type="submit" class="btn btn-border color-default">Continue as a Guest</button></a>
							</div>
						</form>
					</div>
				</div>
				<div class="col-sm-12 col-md-6 col-lg-6">
					<div class="login-form-box">
						<h2>REGISTERED CUSTOMERS</h2>
						<p>
							If you have an account with us, please log in.
						</p>
						<form method="post" accept-charset="UTF-8">
                            {{ getCsrfInput() }}
							<input type="hidden" name="action" value="users/login">
							<input type="hidden" name="redirect" value="checkout/addresses">

							<div class="form-group">
								<div class="input-group">
										<span class="input-group-addon">
										<span class="icon icon-person_outline"></span>
										</span>
									<input type="text" name="loginName" id="LoginFormName1" class="form-control" placeholder="Name"
									value="{{ craft.session.rememberedUsername }}">
								</div>
							</div>
							<div class="form-group">
								<div class="input-group">
										<span class="input-group-addon">
										<span class="icon icon-lock_outline"></span>
										</span>
									<input type="password" name="password" id="LoginFormPass1" class="form-control" placeholder="Password">
								</div>
							</div>
							<div class="row">
								<div class="col-md-12 col-lg-6">
									<button type="submit" class="btn" onclick="document.getElementById('form-returning').submit();">Log In</button>
								</div>
								<div class="col-md-12 col-lg-6">
									<ul class="additional-links">
										<li><a href="#">Forgot your password?</a></li>
									</ul>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock main %}
