{% extends '_layouts/site' %}
{% block main %}
{% set entry = craft.entries.section('home').first() %}
<div id="pageContent">
	<div class="container">
        {% set image = entry.image.first() %}
        {#{{ entry.image.first() | inspect }}#}
		{% if currentUser %}
			{{ currentUser | inspect }}
		{% else %}
			no user logged in
		{% endif %}
	</div>
</div>
{% endblock main %}
