{% extends '_layouts/site' %}
{% block main %}
<div class="breadcrumb">
    <div class="container">
        <ul>
            <li><a href="index.html">Home</a></li>
            <li>Registration</li>
        </ul>
    </div>
</div>
<!-- Content -->
<div id="pageContent">
    <div class="container offset-18">
        <h1 class="block-title large">Registration Form</h1>
        <div class="row">
            <div class="login-form-box" style="width: 350px; margin: auto;">
                <h2 class="block-title">Registrate Now</h2>
            {#{% set addresses = craft.commerce.customer.addresses %}#}
            {#{% for address in addresses %}#}
                {#{{ address | inspect }}#}
            {#{% endfor %}#}
            <form method="post" accept-charset="UTF-8">
                {{ getCsrfInput() }}
                <input type="hidden" name="action" value="users/saveUser">
                <input type="hidden" name="redirect" value="">
                {% macro errorList(errors) %}
                    {% if errors %}
                        <ul class="errors">
                            {% for error in errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                {% endmacro %}

                {% from _self import errorList %}
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <span class="icon icon-person_outline"></span>
                        </span>
                        <input class="form-control" id="username" type="text" name="username" title="UserName" placeholder="UserName">
                        {% if account is defined %}
                            {{ errorList(account.getErrors('username')) }}
                        {% endif %}
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <span class="icon icon-lock_outline"></span>
                        </span>
                        <input class="form-control" id="password" type="password" name="password" title="Password" placeholder="Password">
                        {% if account is defined %}
                            {{ errorList(account.getErrors('password')) }}
                        {% endif %}
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <span class="icon icon-email"></span>
                        </span>
                        <input class="form-control" id="email" type="text" name="email" title="Email" placeholder="Email">
                        {% if account is defined %}
                            {{ errorList(account.getErrors('email')) }}
                        {% endif %}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-lg-12">
                        <button type="submit" class="btn" style="margin: auto;">Register</button>
                    </div>
                </div>
            </form>
        </div>
        </div>
    </div>
</div>
{% endblock main %}